<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PeevedPenguins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A36B0E021D20E40800BD10C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A36B0E1A1D20E40900BD10C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A36B0E251D20E40900BD10C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
